<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
<div style="border:solid; width:25%">
  <section class="party_form">
    <h3>Viewing Party Details</h3>
    <h4>Movie Title: <%= @movie.title %></h4>
    <%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/create", method: :post, data:{turbo: false} do |f| %>
      <%= f.label :duration, "Duration of Party" %>
      <%= f.text_field :duration, value: @movie.runtime %><br>
      <%= f.label :party_date, "Party Date" %>
      <%= f.datetime_field("party_date") %><br>
      <%= f.hidden_field :title, value: @movie.title %>
      <%= f.hidden_field :image, value: @movie.image %>
      <%= f.hidden_field :movie_duration, value: @movie.runtime %>

      <h3>Invite Other Users</h3>
      <%= f.fields_for :invitees do |invitee| %>
        <% User.all.each do |user| %>
          <% if user.id != @user.id %>
            <p><%= invitee.label user.id, "#{user.name}(#{user.email})" %>
            <%= invitee.check_box user.id %></p>
          <% end %>
        <% end %>
      <% end %>

      <%= f.submit "Create Party" %>
    <% end %>
  </section>
</div>