<h3><%= @movie[:title] %></h3>
<%= form_with model: [ :user, :movie, @party ], method: :post, local: true do |f| %>
	<p><%= f.hidden_field :movie_id, value: @movie_id %></p>
	<p><%= f.label :duration, "Duration" %></p>
	<p><%= f.number_field :duration, value: @movie[:runtime] %></p>
	<p><%= f.label :date, "Date" %></p>
	<p><%= f.date_field :date %></p>
	<p><%= f.label :time, "Time" %></p>
	<p><%= f.time_field :time %></p>
	<p><%= f.collection_check_boxes :users, @users, :id, :name %></p>
	<p><%= f.submit "Create Party" %></p>
<% end %>