<h3>Create a Movie Party for <%= @movie.title %></h3>
<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
<hr>
<h4>Viewing Party Details</h4>
<p><b>Movie Title &emsp; &emsp; <%= @movie.title %></b></p>
<%= form_with url: user_movie_parties_path(@user, @movie), method: :post, local: true do |f| %>
  <%= f.label :duration, 'Duration of Party:' %>
  <%= f.number_field :duration %>
  <br>
  <%= f.label :date, 'Day:' %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :start_time, 'Start Time:' %>
  <%= f.time_field :start_time %>
  <br>
  <%= f.submit 'Create Party' %>
<% end %>