<div id="title">
  <%=  link_to "Return to Movie Viewing Party Landing Page" %>
  <h1> Movie Viewing Party! </h1>
  <% if current_user %>
    <%= link_to "Logout" %>
  <% else %>
    <%= link_to "I already have an account", login_path %>
    <%=  button_to "Create New User", new_session_path, method: :get %>
  <% end %>
</div>

<div id="users">
  <h2> Movie Viewing Users: </h2>
  <p><%  @users.each do |person| %></p>
    <p><%= link_to "#{person.name}", user_path(person.id) %>
  <p><%  end %></p>
</div>