<%= render partial: 'layouts/box' %>
<%= render partial: 'layouts/button' %>
<%= render partial: 'layouts/centerframe' %>

<%= render partial: 'landing/subheader' %>

<br>
<%= button_to "Create New User", new_user_path, method: :get %>
<br>

<div class="center">
  <div class="sectionheader">
    <%= link_to "All Users", users_path %>
  </div>

  <br>
  <% @users.each do |user| %>
    <section id="user-<%= user.id %>">
      <button class="nav">
        <h4><%= link_to "#{user.email}", user_path(user.id) %></h4>
      </button>
    </section>
  <% end %>
</div>