<p> Viewing Party Manager </p>



<% if session[:user_id] %>
  <p> All Users </p>
  <% @users.each do |user| %>
    <p><%= user.name %><p>
    <p>Email: <%= user.email %><p> <br>
  <% end %>
<% end %>


<% if session[:user_id] %>
  <%= button_to "Log Out", logout_path, method: :get %>
<% else %>
  <%= button_to "Create new user", register_user_path, method: :get %>
  <%= link_to "Log In", login_path %>
<% end %>

