<%= stylesheet_link_tag 'landing' %>
<% if current_user %>
  <div class="container center">
    <%= link_to "Log Out", logout_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "button" %>
  </div>
  <br>
  <div class="container center">
    <%= link_to "Your Movies' Dashboard", user_path(current_user), method: :get, class: "button" %>
  </div>
<% else %>
  <div class="container center">
    <%= link_to "Create New User", "/register", class: "button" %>
  </div>
  <br>
  <div class="container center">
    <%= link_to "Already A User?", login_path, class: "button" %>
  </div>
<% end %>

<% if current_user && current_user.member? %>
  <div id="existing_users" class="center-box">
    <ul>
      <li style="font-weight: bold;">All Users:</li><br>
      <% @users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  </div>
<% end %>