<h1>Top Rated Movies</h2>
<p>Showing <%=facade.top_rated_movies.count%> Results</p>
<%=button_to "Return to Discover Page", user_movies_discover_path(facade.user)%>
<%@n=0%>
<%facade.top_rated_movies.each do |movie|%>
  <div id="movie-<%=movie.id%>">
    <h3>Result #<%=@n += 1%>:<%=link_to movie.title, user_movie_path(facade.user, movie.id)%></h3>
    <p>Vote Average: <%=movie.vote_average%></p>
  </div>
<%end%>