
<%=  button_to "Discover Movies", user_discover_path(params[:user_id]), method: :get %>

<h3> <%= @header %> </h3>

<% @movies.each do |movie| %>
  <section id="movie-<%= movie[:id]%>">
    <%= link_to movie[:title], "/users/#{params[:user_id]}/movies/#{movie[:id]}" %>
    <%=  " - Vote Average: #{movie[:vote_average]}" %></br>
  </section>
<% end %>