<%= button_to "Discover Page", discover_index_path, method: 'get' %>

<% if params[:q] == "top rated" %>
  <%= render partial: "movie_list" %>
<% else %>
  <h3>Movie results for: <%= params[:q] %></h3>
  <% if @movies.empty? %>
    <%= "No movies found." %>
  <% else %>
    <%= render partial: "movie_list" %>
  <% end %>
<% end %>