<h1><%=@facade.movie.title%>'s Detail Page</h1>
<%= button_to "Create Viewing Party", new_user_movie_viewing_party_path(@facade.user, @facade.movie), method: :get%>

<%=button_to "Return to Discover Page", user_movies_discover_path(@facade.user), method: :get%>

<div id="movie-info">
  <h3>Movie Information</h3>
  <p>Movie Title: <%=@facade.movie.title%></p>
  <p>Movie Vote Average: <%=@facade.movie.vote_average%></p>
  <p>Movie Run-Time: <%=@facade.movie.runtime/60%> hours and <%=@facade.movie.runtime%60%> minutes</p>
  <p>Movie Genre(s): <%=@facade.movie.genres.each {|genre| genre}%></p>
  <p>Movie Summary: <%=@facade.movie.summary%></p>
  <br>
  <div id="cast-info">
    <h4>Cast: </h4>
    <% @facade.movie_cast.each do |member|%>
    <p>Starring: <%=member.name%>,&nbspas: <%=member.character%></p>
    <% end %>
      <%# CANT GET THIS WAY TO WORK! <% @facade.movie.cast.each do |member|%>
    <%# <p>Starring: <%=member.name,&nbsp as: <%=member.character%></p>
    <%# <% end %> 
  </div>
  <br>
  <h4>Reviews</h4>
  <p>Movie Review Count: <%=@facade.movie_reviews.count%></p>
  <% @facade.movie_reviews.each do |review|%>
    <p>Author: <%=review.author%></p>
    <p>Review: <%=review.content%></p>
    <p>Created at: <%=review.created_at%></p>
  <%end%>
</div>