<h2><%= @movie_facade.movie.title %></h2>

<p><%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %></p>
<p><%= button_to "Create Viewing Party for #{ @movie_facade.movie.title }", new_user_movie_viewing_party_path(@user, @movie_facade.movie.id), method: :get %></p>


<p> 
  Vote: <%= @movie_facade.movie.vote_average %> 
  Runtime: <%= convert_to_hours_and_minutes(@movie_facade.movie.runtime) %>  
  Genre: <%= @movie_facade.movie.genres.map { |genre| genre[:name] }.join(", ")  %>  
</p>

<p>Summary</p>
<p><%= @movie_facade.movie.summary %></p>

<div id="cast">
  <p>Cast</p>
  <ul>
    <% @movie_facade.movie.cast.each do |cast_member| %>
      <li>Name: <%= cast_member.name %>, Character: <%= cast_member.character %></li>
    <%end%>
  </ul>
</div>

<div id="reviews">
  <P><%= @movie_facade.movie.reviews.count%> Reviews</P>
   <ul>
    <% @movie_facade.movie.reviews.each do |review| %>
      <li>
        User: <%= review.author %>, Rating: <%= review.rating %>
        <br>
        Review: <%= review.content  %>
      </li>
      <br>
    <%end%>
  </ul>
</div>