<h2><%= @facade.movie_title %></h2>

<%= button_to 'Discover Page', discover_path, method: :get  %>
<%= button_to 'Create Viewing Party', new_movie_viewing_party_path( @facade.movie_id), method: :get  %>

<p>Vote Average: <%= @facade.movie_vote_average %></p>
<p>Runtime: <%= format_runtime(@facade.movie_runtime) %></p>
<p>Genre: <%= format_genres(@facade.movie_genres) %></p>

<hr>

<h3>Summary:</h3>
<p><%= @facade.movie_summary %></p>

<h3>Cast:</h3>

<% @facade.cast.each do |cast_member| %>
  <div class="cast">
    <p>Character: <%= cast_member.character %></p>
    <p>Actor: <%= cast_member.name %></p>
  </div>
  <br>
<% end %>

<h3><%= count_reviews(@facade.reviews) %> Reviews</h3>

<% @facade.reviews.each do |review| %>
  <p>Author: <%= review.author %></p>
  <p>Review: <%= review.content %></p>
  <br>
<% end %>