<div id="return-to-discover">
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
</div>
<br>
<div id="create-vp">
  <%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_party_path(@user.id, @movie.id), method: :get %>
</div>

<div id="movie-info">
  <h4>Summary</h4>
  Title: <%= @movie.title %><br>
  Vote Average: <%= @movie.vote_average %><br>
  Runtime: <%= @movie.runtime %><br>
  Genres: 
  <% @movie.genres.each do |genre| %>
    <%= genre %>
  <% end %>
  <br>
  Summary: <%= @movie.overview %><br>
</div>

<div id="cast-members">
  <h4>Cast</h4>
  <% @facade.cast_members(@movie.id).each do |member| %>
    <%= member.character %> <i>played by</i>
    <%= member.actor %><br>
  <% end %>
</div>

<div id="reviews">
  <h4><%= @facade.review_count(@movie.id) %> Reviews</h4>
  <% @facade.all_reviews(@movie.id).each do |review| %>
    <%= "#{review.author}:" %><br>
    <br>
    <%= review.content %><br>
    <br>
  <% end %>
</div>