<h1><%= @movie.title %></h1>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= @movie.runtime %> minutes</p>
<p>Genres: <%= @movie.genres.join(', ') %></p>
<p>Summary: <%= @movie.summary %></p>

<div class="cast_members">
  <h2>Cast Members</h2>
  <% @movie.cast_members.each do |member| %>
    <p><%= member %></p>
  <% end %>
</div>

<div class="reviews">
  <h2>Reviews (<%= @movie.review_count %>)</h2>
  <% @movie.reviews.each do |review| %>
    <p><%= review %></p>
  <% end %>
</div>

<%= button_to "Create a viewing party", root_path %>
<%= button_to "Return to Discover Page", discover_user_path(@user) %>
