<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie}/viewing-party/new", method: :get %>
<br>
<%= button_to "Discover Page", "/users/#{@user.id}/movies/discover", method: :get %>
<h3>Movie Details:</h3>
<p>Title: <%= @details.title %></p>
<p>Rating: <%= @details.vote_average %></p>
<p>Runtime: <%= @details.runtime %></p>
<p>Genres:</p>
<ul>
<% @details.genres.each do |genre| %>
  <li><%= genre[:name] %></li>
<% end %>
</ul>
<p>Description: <%= @details.summary %></p>
<p>Actors:</p>
<% @actors.each do |actor| %>
  <p>Name: <%= actor[:name] %></p>
  <p>Character: <%= actor[:character] %></p>
<% end %>
<p>Total Reviews: <%= @reviews.results %></p>
<% @reviews.reviews.each do |review| %>
  <p>Author: <%= review[:author] %></p>
  <p>Review: <%= review[:content] %></p>
<% end %> 