<%= link_to "Back", "/users/#{@user.id}/discover" %>
<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_party/new" %>
<h2>Title: <%= @movie.title %></h2>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Run Time: <%= @movie.runtime %></p>
<p>Summary: <%= @movie.summary %></p>

<p>Genres: <% @movie.genres.each do |genre| %>
  <%= genre[:name] %>
<% end %></p>
<h3>Cast</h3>
<div id="actors">
  <% @actors.each do |actor| %>
      <p><%= actor.name %></p>
  <% end %>
</div>
<h3>Reviews</h3>
<div id="reviews">
  <% @reviews.each do |review| %>
    <p>Author: <%= review.author %></p>
    <p><%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  <% end %>
  <p>Total Reviews: <%= @reviews.count %></p>
</div>