<%= link_to "Create a Viewing Party", new_user_movie_viewing_party_path(@user, @movie), class: "btn btn-primary" %>

<%=link_to "Return to Discover Page", user_discover_index_path(@user), class: "btn btn-secondary"%>
<h1>Movie Title: <%= @movie.title %></h1>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= (@movie.runtime) %></p>
<p>Genre(s): <%= @movie.genres %></p>
<p>Summary description: <%= @movie.summary %></p>
<h1>Cast: </h1>
<ul>
  <%  @cast.each do |actor| %>
    <li>
      <p>Actor Name: <%= actor.name %></p>
      <p>Charater Name: <%= actor.character %></p>
    </li> 
<% end %>
</ul>
<h1>Reviews: </h1>
<ul>
  <p>Total Reviews: <%= @movie.reviews.count %></p>
  <% @reviews.each do |review| %>
    <li>
      <p>Author: <%= review.author %></p>
      <p>Author Username: <%= review.username %></p>
      <p>Content: <%= review.content %></p>
    </li>
  <% end %>
</ul>

