<h1>Movies Show Page</h1>

<%= @movie.title %>
<%= @movie.description %>
<%= @movie.vote_average %>
<%= @movie.vote_count %><br>

<%= button_to "Create Viewing Party", "/parties/new", method: :get %><br>
<%= button_to "Discover User Page", "/discover/users/#{@user.id}", method: :get %>