<%= render partial: "shared/nav" %>
<%= button_to "Discover", user_discover_path(@user.id), params: { value: "top-rated" }, method: :get, data: { turbo: false }, local: true %>
<%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{@movie.movie_id}/viewing-party/new", params: { movie_id: @movie.movie_id, movie_title: @movie.title, movie_runtime: @movie.runtime }, method: :get %>

<p>Title: <%=@movie.title%></p>
<p>Vote Average: <%=@movie.vote_average%></p>
<p>Runtime: <%=@movie.convert_runtime_to_hours_and_minutes%></p>
<p>Genres:</p>
<%@movie.genre.each do |genre|%>
  <ol><%= genre[:name] %></ol>
<%end%>
<p>Overview: <%=@movie.overview%></p>
<p>Cast:</p>
<%@movie.cast.take(10).each do |actor|%>
  <ol>Actor <%= actor[:name] %> plays the character of <%=actor[:character]%></ol>
<%end%>
<p>Vote Count: <%=@movie.vote_count%></p>
<%@movie.review_info.take(5).each do |review|%></p>
  <p>Review Author: <%= review[:author] %></p>
  <p>Review Text: <%= review[:content] %></p>
<%end%>
