<h1><%= @movie.title %></h1>

<%= button_to "Back", user_discover_path(@user), method: :get %>
<%= button_to "Create a Viewing Party", new_user_movie_viewing_party_path(@user, @movie.id), method: :get %>

<section id="movie-info">
  <h2>Movie Info</h2>
  <p><b>Rating: </b><%= @movie.rating %></p>
  <p><b>Overview: </b><%= @movie.summary %></p>
  <p><b>Runtime: </b><%= @movie.runtime %> minutes</p>
  <p><b>Genres: </b><br><% @movie.genres.each do |genre| %>
             <%= genre[:name] %> <br>
             <% end %></p>
  <p><b>Total Reviews: </b><%= @reviews.count %></p>
  <p><b>Reviews: </b><br><% @reviews.each do |review| %>
              <b>Author: </b><%= review.author %><br/>
              <b>Content: </b><%= review.content %> <br/><br/>
              <% end %></p>

  <p><b>Cast Members: </b><br><% @cast.each do |cast| %>
             <%= cast.name %> as <%= cast.character %><br>
             <% end %></p>
</section>