<span><h1><%= @facade.movie_details.title %></h1></span>
<span><%= button_to "Create A Viewing Party for #{@facade.movie_details.title}", "/users/#{@user.id}/movies/#{@facade.movie_details.id}/viewing-party/new", method: :get %></span>
<br>
<span><%= button_to "Discover Page", user_discover_path(@user), method: :get %></span>
<br><br>
Runtime: <%= @facade.movie_details.formatted_runtime %><br><br>
Vote Rating: <%= @facade.movie_details.vote_average %><br><br>
Genres:<br>
<% @facade.movie_details.genres.each do |genre| %>
  <%= genre %><br>
<% end %><br>
<%= @facade.movie_details.summary %><br><br>
Cast:
<% @facade.cast_members.each do |actor| %>
  <ul class="cast_member"> 
    <%= actor.name %><br>
  </ul>
<% end %><br>
Reviews:
<% @facade.movie_reviews.each do |review| %>
  <%= "Author: #{review.author}" %><br>
  <%= review.content %><br><br>
<% end %>
 