
<h2><%= @facade.movie_details.title %></h2>
<%= button_to 'Discover Movies', discover_user_path(params[:user_id]), method: :get %>
<!-- <%= button_to "Create Viewing Party for #{@facade.movie_details.title}" %> -->

<section id="details">
  <p><b>Vote:</b> <%= @facade.movie_details.vote_average %></p>
  <p><b>Runtime:</b> <%= @facade.movie_details.format_runtime %></p>
  <p>
    <b>Genre(s):</b> 
    <% @facade.movie_details.genres.each do |genre| %>
      <%= genre[:name] %>
    <% end %>
  </p>
</section>
<hr>
<section id="summary">
  <p><b>Summary:</b></p>
  <p><%= @facade.movie_details.summary %></p>
</section>
<section id="cast">
  <p><b>Cast:</b></p>
    <% @facade.movie_details.cast.each do |cast| %>
      <p><%= cast[:name] %> - <%= cast[:character] %></p>
    <% end %>
</section>
