<h1><%= @movie.title %></h1>

<%= button_to "Discover Page", discover_path(@user.id), method: :get %>
<br>
<%= button_to "Create Viewing Party for #{@movie.title}", new_party_path(@user, @movie.id), method: :get %>
<br>
<div id='movie_info'>
  <p>Vote: <%= @movie.vote_average %></p>
  <p>Runtime: <%= @movie.runtime_conversion %></p>
  <ul>Genres: <% @movie.genres.each do |genre| %>
    <li><%= genre[:name] %></li>
  <% end %>
  </ul>
  <p>Summary: <%= @movie.summary %></p>
  <div id='cast'>
    <p>Cast: <% @cast.each do |person| %>
      <%= person %>
    <% end %>
  </div>
  <div id='reviews'>
    <p><%= @review_count %> Reviews: <% @reviews.each do |review| %>
      <%= review.author %>
      <%= review.content %>
    <% end %>
</div>