<h3><%= @movie.title %></h3>
<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
<br>
<%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_party_path(@user, @movie), method: :get %>
<br>
<p>Vote: <%= @movie.vote_average %> | Runtime: <%= @movie.runtime %> minutes | Genre(s): <%= @movie.genres.map { |genre| genre[:name] }.join(', ') %></p>
<hr>
<p><b>Summary</b></p>
<p><%= @movie.summary %></p>
<br>
<p><b>Cast</b></p>
<br>
<p><b>Reviews</b></p>