<h1><%= @movie.title %></h1>
<h3>Vote Average: </h3><%= @movie.vote_average %>
<h3>Run Time: </h3><%= @movie.format_runtime %>
<h3>Genres: </h3>
  <% @movie.genres.each do |genre| %>
    <%= genre %>
  <% end %>
<h3>Summary: </h3><%= @movie.overview %>
<div class="cast-members">
  <h3>Cast Members: </h3>
  <% @cast.each do |cast_member| %>
    <div class="cast-member"><%= cast_member.name %></div>
  <% end %>
</div>

<div class="reviews">
  <h3>Reviews: </h3>
  <h4>Review Count: <%= @reviews.length %></h4>
  <% @reviews.each do |review| %>
    <div class="review">
      <h5>Author: </h5><%= review.author %>
      <h5> Summary: </h5><%= review.content %>
    </div>
  <% end %>
</div>

<%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>

<%= button_to 'New Viewing Party', "/users/#{@user.id}/movies/#{@movie.id}/viewing-party/new", method: :get %>