<h1><%= @facade.details.title %></h1>

<button>
    <%= link_to 'Discover Movies', user_discover_index_path(params[:user_id]) %>
</button>
<br>
<button>
    <%= link_to 'Create a Viewing Party', new_user_movie_viewing_party_path(params[:user_id], params[:id]) %>
</button>

<section id="movie_details">
  <h3>Details:</h3>
  <p>Average Vote: <%= @facade.details.vote_average %></p>
  <p>Runtime: <%= @facade.details.format_runtime %></p>
  <p>
    Genre(s): 
    <% @facade.details.genres.each do |genre| %>
      <%= genre[:name] %> 
    <% end %>
  </p>
  <p>Summary: <%= @facade.details.summary %></p>
</section>
<br><br>
<section id="movie_cast">
  <h3>Cast and character:</h3>
  <ul>
    <% @facade.details.cast.each do |cast| %>
      <li><%= cast[:name] %> - <%= cast[:character] %></li>
    <% end %>
  </ul>
</section>
<br><br>
<section id="movie_reviews">
  <h3>Reviews (<%= @facade.details.total_reviews %> total):</h3>
  <% @facade.details.reviews.each do |review| %>
    <p>Review by: <%= review[:author] %></p>
    <p><%= review[:content] %></p>
    <br>
  <% end %>
</section>

