<h3><%= @movie.title %></h3>

<%= button_to "Discover Page", "/users/#{params[:id]}/discover", method: :get %>

<%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{params[:id]}/movies/#{@movie.id}/viewing_party/new", method: :get %>

<p>Vote: <%= @movie.vote_average %></p>
<p>Runtime: <% if @movie.runtime > 60 %>
            <%= "#{@movie.runtime/60}h #{@movie.runtime % 60}min" %>
            <% else %>
              <%= "#{@movie.runtime}min" %>
            <% end %>
</p>
<p>Genre: <% @movie.genres.each do |genre| %>
            <% if genre != @movie.genres.last %>
              <%= "#{genre[:name]}, " %>
            <% else %>
              <%= genre[:name] %>
            <% end %>
          <% end %>
</p>

<section id="summary">
  <p>Summary</p>
  <p><%= @movie.overview %></p>
</section>

<section id="cast">
  <p>Cast</p>
  <p>
    <% @cast_members.each do |member| %>
      <p><%= member.name %> - <%= member.character %></p>
    <% end %>
  </p>
</section>

<p id="review-count"><%= @reviews.count %> Reviews</p>
<section id="reviews">
  <p>
    <% @reviews.each do |review| %>
      <p><%= review.author %> - <%= review.content %></p>
    <% end %>
  </p>
</section>