<%= @facade_movies.title %>
<%= render "shared/discover" %>
<%= link_to "Create a Viewing Party for #{@facade_movies.title}", new_user_dashboard_movie_viewing_party_path(@facade.user, @facade_movies.id) %>
<table>
  <tr><th>Rating: <%= @facade_movies.rating %></th><th>Runtime: <%= @facade_movies.runtime %></th><th>Genre(s): <%= @facade_movies.genres %></th></tr>
</table>
<h4>Summary</h4>
<p><%= @facade_movies.summary %></p>
<h4>Cast</h4>
<table>
  <tr><th>Actor</th><th>Character</th></tr>
  <% @facade_movies.cast.each do |cast| %>
    <tr>
      <td><%= cast[:name] %></td>
      <td><%= cast[:character] %></td>
    </tr>
  <% end %>
</table>
<h4>Reviews</h4>
<table>
  <tr><th>Author</th><th>Review</th></tr>
  <% @facade_movies.reviews.each do |review| %>
    <tr class="review">
      <td><%= review[:author] %></td>
      <td><%= review[:content] %></td>
    </tr>
  <% end %>