<h1> Hi <%= @user.name %>, let's find a movie </h1>
<p><%= button_to "Discover Movies", user_movies_path(@user.id), method: :get %></p>

<div id="search">
  <h3> Enter keyword(s) to search by movie title </h3>
  <%= form_with url: user_movies_path(@user.id), data: {turbo: false}, method: :get, local: true do |f|  %>
    <%= f.label "keyword" %>
    <%= f.text_field :keyword %>
    <%= f.submit "submit" %>
  <% end %>
</div>