<h1><%= @facade.movie.title%> Viewing Party </h1>
<%= form_with url: user_movie_viewing_parties_path(@facade.user, @facade.movie.id), method: :post do |f| %>
  <%= f.hidden_field :runtime, value: "#{@facade.movie.runtime}" %>
  <%= f.label "Duration" %>
  <%= f.text_field :duration, value: "#{@facade.movie.runtime}"%><br><br>
  <%= f.label "When:" %>
  <%= f.date_field :date %><br><br>
  <%= f.label "Start Time"%>
  <%= f.time_field :start_time%><br><br>
  <p> Check users to attend: </p>
  <% User.all_users_except_self(@facade.user).each do |user| %>
    <%= f.label "#{user.name}"%>
    <%= f.check_box "#{user.id}"%><br><br>
  <% end %>
  <%= f.submit "Create a Party" %>
<% end%>