<h3>Create a Movie Party for <%= @movie.title %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user), method: 'get' %>

<div class="new-party-form">
  <h4>Viewing Party Details</h4>
  <p>Movie Title: <%= @movie.title %></p>
  <%= form_with url: user_movie_viewing_parties_path(@user, @movie.id), method: :post, local: true do |form| %>
    <%= form.label "Duration of party" %>
    <%= form.number_field :duration %>
    <br>
    <%= form.label "Day" %>
    <%= form.date_field :date %>
    <br>
    <%= form.label "Start time" %>
    <%= form.time_field :start_time %>
    <br>
    <h4>Invite Other Users</h4>
    <%= form.collection_check_boxes :user, @user.invitees, :id, :user_name %>
    <br>
    <%= form.submit "Create Party" %>
  <% end %>
</div>