<% @user_parties.each do |user_party| %>
  <div class="viewing-party">
    <% party = user_party.party %>
    <% if party && !user_party.accepted && current_user %>
      <p>Movie Title: <%= party.movie_title %></p>
      <p>Duration: <%= party.duration %></p>
      <p>Date: <%= party.date %></p>
      <p>Start Time: <%= party.start_time %></p>
      <%= button_to 'Accept Invite', "/users/#{current_user.id}/viewing-parties/#{party.id}/accept_invite", method: :patch %>
    <% end %>
  </div>
<% end %>