<h1> Create Viewing Party </h1>
<h1><%= @movie.title %></h1>

<%= form_with url: create_viewing_party_path(@user, @movie), method: :post, data: { turbo: false } do |f| %>
  <%= f.label :duration %>
  <%= f.number_field :duration, min: @movie.runtime, value: @movie.runtime %>

  <%= f.label :date_time %>
  <%= f.date_field :date_time %>

  <%= f.label :start_time %>
  <%= f.time_field :start_time %>

  <h3> Invite Friends </h3>
  <%= fields_for :invitees do |g| %>
    <% @users.each do |user| %>
      <%= g.check_box user.id %>
      <%= g.label user.id, "#{user.name} (#{user.email})" %>
    <% end %>
      <%= f.submit "Create Viewing Party" %>
  <% end %>
<% end %>