<h1><%= @movie.title %></h1>

<%= form_with model: @party, url: create_viewing_party_path(@user, @movie), method: :post, data: { turbo: false } do |f| %>
  <%= f.label :duration %>
  <%= f.number_field :duration, min: @movie.runtime, value: @movie.runtime %>

  <%= f.label :date_time %>
  <%= f.date_field :date_time %>

  <%= f.label :start_time %>
  <%= f.time_field :start_time %>

  <%= f.label :invitees %>
  <%= @users.each do |user| %>
    <%= f.check_box :user_ids, { multiple: true }, user.id, nil %>
    <%= user.name %>
  <% end %>

  <%= f.submit 'Create Party' %>
<% end %>
