<h1>Create a Viewing Party for <%= @movie.title%></h1>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie.movie_id}/viewing_parties", method: :post, local: true do |form| %>
  <%= form.hidden_field :movie_id, value: @movie.movie_id %>
  <%= form.label 'Length of the Party' %>
  <%= form.number_field :duration, value: @movie.runtime %><br>
  <%= form.label 'What day is the Party?' %>
  <%= form.date_field :when, value: Date.today %>
  <%= form.label 'What time does it start?' %>
  <%= form.time_field :start_time, value: Time.now %>
  <%= form.label "#{@user.name}" %>
  <%= form.check_box "#{@user.name}", {checked: true} %><br>
  <h3>Invite Other Users!</h3>
  <% @users.each do |user| %>
    <%# <% if user.id != @user.id %>
      <%= form.label "#{user.name}" %>
      <%= form.check_box "#{user.name}", {name: user.name } %><br>
    <%# <% end %>
  <% end %>
  <%= form.submit 'Create A Party' %>
<% end %>