<%= render partial: "app_partials/home_link" %>
<%= render partial: "app_partials/viewing_header" %>
<h6> Create a new Viewing Party </h6>

<%=form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties/create", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :duration, "Duration:"%>
  <%= form.number_field :duration, min: @movie.runtime %><br>
  <%= form.label :when, "When" %>
  <%= form.date_field :when %><br>
  <%= form.label :start_time, "Start Time" %>
  <%= form.time_field :start_time %><br>
  <section id="potential_guests">
    <% @potential_guests.each do |guest| %>
    <%= form.label :invite, "Invite #{guest.name}" %>
    <%= form.check_box :invite %><br>
    <% end %>
  </section>
  <%= form.submit "Create Viewing Party" %>
<% end %>
