<h3>Create a Viewing Party for <%= @movie.title %></h3>

<%= button_to "Discover Page", user_discover_path(@user.id), method: :get %>

<h2>Viewing Party Details</h2>

<%= form_with url: user_movie_viewing_party(@user.id, @movie.id) %>
  <%= f.label "Movie Title" %>

  <%= f.label "Duration of Party" %>
  <%= f.number_field :duration %>

  <%= f.label "Day" %>
  <%= f.date_field, :date %>

  <%= f.label "Start Time" %>

  <p>Invite Other Users</p>


<% end %>