<h1> <%= @movie.title %> Viewing Party </h1>

<%= form_with model: @party, url: user_movie_viewing_parties_path do |form| %>
  <%= form.label :duration %>
  <%= form.number_field :duration, min: @movie.runtime, max: 999, value: @movie.runtime %> min
  <br>
  <%= form.label :date %>
  <%= form.date_field :date, min: Date.today %>
  <br>
  <%= form.label :time %>
  <%= form.time_field :time, ignore_date: true %>
  <br>
  <%= form.label :invites, "Invite Others:" %>
  <%= form.collection_check_boxes :users, @all_other_users, :id, :name %><br>

  <br>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.submit "Create Viewing Party" %>
<% end %>