<h1><%= "Movie Title: #{@movie.title}" %></h1>

<section class="new_party">

  <%= form_with url:  new_user_movie_viewing_party_path, method: :post, data:{turbo: false} do |f| %>
    <%= f.label :duration %>
    <%= f.number_field :duration, :value => "#{@movie.runtime} minutes" %>

    <%= f.label :start_time %>
    <%= f.datetime_field :start_time %>
    <%= f.hidden_field :movid_id, :value => @movie_id %>

    <% @users.each do |user| %>
      <p><%= check_box_tag(:user) %>
      <%= label_tag(:user, "Invite #{user.name}") %></p>
    <% end %>

    <%= f.submit "Create Party" %>
  <% end %>
</section>