<h3><%=@movie[:title]%></h3>

<%= form_with url: user_movie_viewing_parties_path(@user, @movie), method: :post, local: true do |f| %>
  <%= f.label :duration %>
  <%= f.text_field :duration, value: @movie[:runtime] %>
  <%= f.label :date %>
  <%= f.date_select :date  %>
  <%= f.label :time %>
  <%= f.time_select :time, :ignore_date => true %>
  <% @users.each do |user| %>
    <div id="user_<%=user.id%>">
    <tr>
      <td><%=check_box_tag 'selected_users[]', user.id%></td>
      <td><%= user.name %></td>
    </tr>
    </div>
  <% end %>
  <%= f.submit "Create Party" %>

<% end %>