<h1><u>Create a Viewing Party</u></h1>

<h3><%= @movie_title %></h3>

<%= form_with(url: viewing_party_form_path(@user.id, @movie_id) , method: :post) do |form| %>
  <%= form.label :party_duration %>
  <%= form.text_field :party_duration, value: @movie_runtime, min: @movie_runtime %>

  <%= form.label :date %>
  <%= form.date_field :date %>

  <%@users.each do |user|%>
    <%= form.label "add_#{user.name}", class: "checkbox-label" %>
    <%= form.check_box "add_#{user.name}", class: "checkbox" %>
  <%end%>

  <%= form.submit 'Create a Party' %>
<% end %>