<center><h1>Create a viewing Party for: <%= @movie.title %></h1></center>

<center>
<%= form_with url: viewing_party_create_path(params[:id], @movie.id), method: :post, data: {turbo: false} do |f| %>
  <%= f.label :duration %>
  <%= f.number_field :duration, value: @movie.runtime %><br>
  <%= f.label :day %>
  <%= f.date_field :day, value: Date.today %><br>
  <%= f.label :view_time, value: Time.now  %>
  <%= f.time_field :view_time %>
  <h2>Invite Other Users</h2>
  <% @users.each do |user| %>
    <%= f.label "#{user.name}" %>
    <%= f.check_box "#{user.name}" %>
  <% end %><br>
  <br><%= f.submit "Create Party" %>
<% end %>
</center>