<h1>Viewing Party</h1>
<br>
<h2>Movie Details Page</h2>
<br>
<div id="create-party">
  <%= button_to "Create Viewing Party for Movie", new_user_movie_viewing_party_path(@user.id, @movie.id), method: :get %>
</div>
<br>
<div id="discover-button">
  <%= button_to 'Back to Discover', "/users/#{@user.id}/discover", method: :get %>
</div>
<br>

<div id="movie-details">
  <h3><%= @movie.title %></h3>
  <p>Vote: <%= @movie.vote_average %></p>
  <p>Runtime: <%= @movie.runtime %></p>
  <p>Genre(s): <% @movie.genre.each do |g| %>
    <ul>
      <li>
        <%= g[:name] %>
      </li>
    </ul>
  <% end %></p>

  <p>Summary: <%= @movie.overview %></p>

</div>