<div id='title'>
  <h3><%=@facade.specific_movie.title%></h3>
</div>

<%=button_to "Discover Page", user_discover_path(@user), method: :get%>
<br>
<%= button_to "Create Viewing Party for #{@facade.specific_movie.title}", user_new_viewing_party_path(@user, @facade.specific_movie.id), method: :get%>

<div id="movie-info">
  <p><b>Vote: <%=@facade.specific_movie.vote_average%></p>
  <p>Runtime: <%=@facade.specific_movie.runtime/60%> hour(s) and <%=@facade.specific_movie.runtime%60%> minutes</p>
  <p>Genre(s): <%=@facade.specific_movie.genres.each do |genre| %>
            <%=genre[:name]%>
            <%end%>
  </p></b>
</div>

<div id="summary">
  <h3>Summary:</h3>
  <p><%= @facade.specific_movie.summary %></p>
</div>

<div id="cast"> 
  <h3>Cast:</h3>
    <% @facade.cast_info.each do |cast|%>
      <ul>
        <li><%= cast.name %> as <%= cast.character %></li>
     </ul>
    <% end %>
</div>
  
<div id='reviews'>
  <h3><%=@facade.review_count%> Reviews:</h3>
    <% @facade.review_info.each do |review| %>
      <p><b>Reviewer: <%= review.author %></b><br><br>
        <%= review.content %></p><br>
    <% end %>
</div>