<div id ="vp-<%= viewing_party.id %>">
  <div class="viewing-party-cards">
    <div class="card">
      <div class="card-header">
        <h3>Viewing Party</h3>
      </div>
      <div class="card-body">
        <img src="<%= viewing_party.movie_poster_path %>">
        <p>Movie: <%= viewing_party.movie_title %></p>
        <p>Duration: <%= viewing_party.duration %> minutes</p>
        <p>Date: <%= viewing_party.date.strftime('%B %d, %Y') %></p>
        <p>Start Time: <%= viewing_party.start_time.strftime('%I:%M %p') %></p>
      </div>
    </div>
  </div>
</div>