<%= "#{@user.name}'s Dashboard" %>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
<section id="parties">
  <% if @user.no_parties? %>
    <p> This user has no parties yet </p>
  <% else %>
    <% @user.parties.each do |party| %>
      <%= party.date %><br/>
      <%= party.time %>
    <% end %>
  <% end %>
</section>
<br>
<div id="hosted-vps">
  <% @user.host_vps.each do |party| %>%
    <%= @facade.movie_title(party.movie_id) %><br>
    <%= party.format_date %><br>
    <%= party.format_time %><br>
    Hosting
    <ul>
      <% party.guests.each do |guest| %>
        <li><%= guest.name %></li><br>
      <% end %>
    </ul>
  <% end %>
</div>