<p><%= form_with url: user_movies_path(@user), method: :get, data: { turbo: false } do %>
  <%= hidden_field_tag :top_rated, true %>
  <%= submit_tag "Discover Top Rated Movies" %>
<% end %></p>

<div class="movie_search">
<%= form_with url: user_movies_path(@user), method: :get do |form| %>
  <%= form.label :query, "Search by Movie Title:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
</div>