<h3> Log In </h3>

<%= form_with url: "/login", method: :post, data: { turbo: false } do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %></br>
  <%= f.label :password %>
  <%= f.password_field :password %></br>

  <%= f.submit "Log In" %>
  <% end %>