<h1>Movie Details for <%=@details[:movie_title]%></h1>

<%= button_to "Create Viewing Party for #{@details[:movie_title]}", "/users/#{@user.id}/movies/#{@details[:id]}/viewing_party/new", method: :get %> 
<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>

<section class="movie_details">
  <p>Movie Title: <%= @details[:movie_title]%></p>
  <p>Vote Average: <%= @details[:vote_average].round(1)%></p>
  <p>Runtime: <%= @details[:runtime]%></p>
  <p>Genre: <%= @details[:genre]%></p>
  <p>Summary: <%= @details[:summary]%></p>
</section>

<section class="cast">
  <% @credits.each do |credit| %>
    <p>Actor: <%= credit[0] %> - Character: <%= credit[1] %></p>
  <% end %>
</section>

<section class="reviews">
  <p>Review Count: <%= @reviews[:review_count] %></p>

  <% @reviews[:author_info].each do |author| %>
    <p>Name: <%= author[0] %></p>
    <p>Rating: <%= author[1][:rating].round(2) %></p>
  <% end %>
</section>