<h1> Register as a new User </h1>
<%= form_with url: "/users", method: :post, local: true, turbo: false do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.label "Email (must be unique)" %>
  <%= f.text_field :email, required: true %>
  <%= f.label "Password" %>
  <%= f.password_field :password, required: true %>
  <%= f.label "Confirm Password" %>
  <%= f.password_field :password_confirmation, required: true %>
  <%= f.submit "Register" %>
<% end %>