<h3>Register a New User</h3>

<%# <body>
  <center><table> %>
    <%= form_with url: "/register", method: :post, local: true do |f| %>
    <%# <tr> %>
      <%= f.label :name %> 
      <%= f.text_field :name %> 
    <%# </tr>
    <tr> %>
      <%= f.label :email %> 
      <%= f.text_field :email %> 
    <%# </tr>
    <tr> %>
    <%= f.submit "Create New User" %> 
    <%# </tr> %>
    <% end %>
  <%# </table> </center>
</body> %>