<h1>Viewing Party</h1>
<br>
<h2>Register New User</h2>
<div id="registration-form">
  <%= form_with url: "/register", method: :post do |form|  %>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :email %>
    <%= form.text_field :email %>
    
    <%= form.submit %>
  <% end %>
</div>