<h1>Create a New User</h1>

<%= form_with url: "/", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.submit "Create User" %>
<% end %>