<%= render partial: "shared/nav" %>


<h2>Register New User</h2>
<br>
<%= form_with model: User.new, data: { turbo: false } do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.label :email %><br>
  <%= form.text_field :email %><br>
<div class="submit-button-container">
  <%= form.button "Register", class: "button" %>
</div>
<% end %>
