<div class="headerText"> 
  <h2> Register a New User </h2><br/>
</div>
<div class="headerText"> 
  <%= form_with model: @user, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, id: "Name:" %><br/>
    <%= form.label :email %>
    <%= form.text_field :email, id: "Email" %><br/>
    <%= form.submit %>
  <% end %>
</div>
  