<h2>New User Registration</h2>

<section id="registration-form">
  <%= form_with url: users_path, method: :post, local: true do |form| %>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
    <%= form.submit "Register User" %>
  <% end %>
</section>
