<h3> Register a New User </h3>

<%= form_with url: "/user", method: :post, data: { turbo: false } do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %></br>
  <%= f.label :email %>
  <%= f.text_field :email %></br>

  <%= f.submit "Create New User" %>
  <% end %>