
<%= render partial: "shared/landing_header" %><br><br>

<body>
  <div class="content">
    <center><table>
      <h1>Viewing Party</h1>
      <h4>Register New User</h4>

      <%= form_with url: "/users", method: :post, local: true do |f| %>
        <%= f.label :name %> &nbsp;
        <%= f.text_field :name %><br><br>
        <%= f.label :email %> &nbsp;
        <%= f.text_field :email %><br><br>
        <%= f.submit "Register" %>
      <% end %>
    </center></table>
  </div>
</body>