<h3>Register a New User<h3>

<%= form_with model: @user, method: :post, url: users_path do |f| %>
  <h4><%= f.label :name, 'Name:'%></h4>
  <%= f.text_field :name %><br>

  <h4><%= f.label :email, 'Email:'%></h4>
  <%= f.text_field :email %><br>
  
  <%= f.submit 'Register' %>
<% end %>
