  <h1>Register a New User</h1>
  
  <%= form_with url: "/register", method: :post, local: true do |f| %>  
    <%= f.label :name, 'Name:' %><br>
    <%=  f.text_field :name%><br>
    <%= f.label :email, 'email:' %><br>
    <%=  f.text_field :email%><br>
    <%= f.submit "Create New User" %>
  <% end %>