<h1>Viewing Party</h1>
<h3>Register a New User</h3>
<section class = "register_user">
  <%= form_with url: "/register", method: :post, local: true do |form| %>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %> <br>
    <%= form.label :email, "Email:" %>
    <%= form.text_field :email %> <br>
    <%= form.button "Create New User" %>
  <% end %>
</section>