<h2>Register a New User</h2>

<%= form_with url: register_path, method: :post, local: true do |form| %>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %><br>
  <%= form.label :email %>
  <%= form.text_field :email %><br>
  <%= form.label :password %>
  <%= form.text_field :password %><br>
  <%= form.label :password_confirmation %>
  <%= form.text_field :password_confirmation %>
  <%= form.submit "Create New User" %>
<% end %>