<h1><%= @user.name %>'s Dashboard</h1>


<div class="viewing parties">
  <h2> Viewing Parties </h2>
  <% if @viewing_parties.empty? %>
    <p> No viewing parties scheduled. </p>
  <% else %>
    <ul>
    <% @viewing_parties.each_with_index do |party, index| %>
      <div class="party">
        <%= image_tag @movie_details[index].image %> 
        <h2><%= link_to @movie_details[index].title, movie_path(party.movie_id) %></h2>
        <p><%= @movie_details[index].description %></p>
        <p><%= party.is_host ? 'Hosting' : 'Invited' %></p>
        <p><%= party.date_time.strftime('%B %d, %Y %I:%M %p') %></p>
      </div>
    <% end %>
        </ul>
  <% end %>
</div>
