<h3><%= "#{@user.name}'s Dashboard" %></h3>
<%= @user.email %>

<p><%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %></p>

<div class="attending">
  <h4><%= "#{@user.name}'s Watch Parties: Attending" %></h4>
  <ol>
    <% @user.movie_watch_parties.sort_attending.each do |p| %>
      <li><p>Movie: <%=  link_to p.watch_party.movie.title, movie_path(p.watch_party.movie.id)%></p></li>
          <p>Watch Date: <%=  p.watch_party.date %></p>
          <p>Start Time: <%=  p.watch_party.start_time %></p>
          <p>Attendees: </p>
          <% p.watch_party.movie_watch_parties.each do |party| %>

            <div id="<%= party.watch_party_id %>">
                <% if party.user_status == "hosting" %>
                  <%= "Host: #{party.user.name}"%><br>
                <% elsif party.user.id == @user.id %>
                  <b> <%= party.user.name  %> </b><br>
                <% else %>
                  <%= party.user.name %><br>
                <% end %>
                </div>
            <% end %>
    <% end %>
  </ol>
</div>
<div class="hosting">
  <h4><%= "#{@user.name}'s Watch Parties: Hosting" %></h4>
  <ol>
    <% @user.movie_watch_parties.sort_hosting.each do |p| %>
      <li><p>Movie: <%=  link_to p.watch_party.movie.title, movie_path(p.watch_party.movie.id) %></p></li>
          <p>Watch Date: <%=  p.watch_party.date %></p>
          <p>Start Time: <%=  p.watch_party.start_time %></p>
          <p>Attendees: </p>
          <% p.watch_party.movie_watch_parties.each do |party| %>
              <% if party.user_status == "hosting" %>
                <b><%= "Host: #{party.user.name}"%> <b><br>
              <% else %>
                <%= party.user.name %><br>
              <% end %>
          <% end %>
    <% end %>
  </ol>
</div>