<h1><%= @user.name %>'s Dashboard</h1>
<h2>Welcome, <%= @user.name %>!</h2>
<p>Email: <%= @user.email %></p>
<p><%= link_to "Landing Page", root_path %></p>

<h2 id="viewing_parties">My Viewing Parties</h2>

<p><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></p>