<h2><%= @user.name %>'s Dashboard</h2>

<%= button_to "Discover Page", discover_user_path(@user) %>

<div id="parties">
  <h2>My Parties</h2>
  <% @parties.each do |party| %>
    <div class="party">
      <%= image_tag party.image_url, alt: party.title, width: '185' %>
      <%= link_to party.title, movie_path(party.movie_id) %>
      <p><%= party.datetime.strftime('%Y-%m-%d %H:%M') %></p>
      <% if party.host?(@user) %>
        <p>Hosting</p>
      <% else %>
        <p>Host: <%= party.host.name %></p>
      <% end %>
      <p>Invited:</p>
      <ul>
        <% party.invited_users.each do |user| %>
          <li>
            <% if user == @user %>
              <strong><%= user.name %></strong>
            <% else %>
              <%= user.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
