<%= render partial: "shared/nav" %>
<br>
<h2 class="container"><%= @user.name %>'s Dashboard</h2>
<br>
<div class="container">
  <%= button_to "Discover Movies", discover_user_path(@user), method: :get, data: {turbo: false}, class: "button" %>
</div>
<br>
<hr>
<br>
<div class="parties">
  <% @parties.each do | party | %>
    <div class="party-card">
<!--        movie poster-->
      <p class="party-card-heading"><%= party.movie.title %></p>
      <p><%= party.day %></p>
      <p>Start Time: <%= party.time_formatted %></p>
      <p><%= party.user_status(@user.id) %></p>
    </div>
  <% end %>
</div>