<%= render partial: "shared/nav" %>

<h1><%="#{@user.name}'s Dashboard"%></h1>
<%= button_to "Discover Movies", user_discover_path(@user.id), method: :get, data: { turbo: false }, local: true %>

<section id = "viewing-parties">
  <h3>Parties I'm Hosting</h3>
    <% @user.viewing_parties.uniq.each do |party| %>
      <% @movie_info.uniq.each do |movie| %>
      <ol>
        <u>Title:</u> <%= movie.title %><br>
        <u>Date and Time:</u> <%= party.start_time %>
      </ol>
      <% end %>
    <% end %>
      
  <h3>Parties I'm Invited To</h3>
    <% @user.viewing_parties.each do |party| %>
      <% @movie_info.each do |movie| %>
      <ol>
        <u>Title:</u> <%= movie.title %><br>
        <u>Date and Time:</u> <%= party.start_time %>
      </ol>
      <% end %>
    <% end %>
</section>