<h1><%= @user.name %>'s Dashboard</h1>
<br>
<div id='discover_movies'>
  <%= button_to "Discover Movies", discover_path(@user.id), method: :get %>
</div>
<br>
<div id='invited_parties'>
  <h3>Parties I'm Going To</h3>
  <% @invited_parties.each do |party| %>
    <p><%= link_to "#{party.movie_title}", movie_path(@user, party.movie_id) %></p>
    <p><%= (party.date).strftime("%A, %B %d, %Y") %></p>
    <p><%= (party.time).strftime("%I:%M%p") %></p>
    <% party.users.each do |user| %> 
      <% if user.id != @user.id %>
          <p><%= user.name %></p>
        <% else %>
          <p><b><%= user.name %></b></p>
      <% end %>
    <% end %>
  <% end %>
</div>



<div id='hosted_parties'>
  <h3>Parties I'm Hosting</h3>
  <% @hosted_parties.each do |party| %>
    <p><%= link_to "#{party.movie_title}", movie_path(@user, party.movie_id) %></p>
    <p><%= (party.date).strftime("%A, %B %d, %Y") %></p>
    <p><%= (party.time).strftime("%I:%M%p") %></p>
    <% party.users.each do |user| %> 
      <% if user.id != @user.id %>
          <p><%= user.name %></p>
      <% end %>
    <% end %>
  <% end %>
</div>