<h2><%= @user.name %>'s Dashboard</h2>
<hr />
<p>
  <%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>
</p>
<section id="viewing_parties">
  <h3>Viewing Parties</h3>
  <p>
    <% @user.parties.each do |party| %>
      <div id="<%= party.id %>_info" style="border: 1, margin:10px">
        <img class="movie_thumbnail" src="<%=party.thumbnail%>"><br /><br />
        <%= link_to party.movie_title, user_movie_path(@user.id, party.movie_id) %><br /><br />
        Hosted By: <%= party.host_name  %><br/>
        Date: <%= party.date %><br/>
        Time: <%= party.start_time %><br/><br/>
        Attendees: <% party.invited_users.each do |name| %>
          <% if name == @user.name %>
            <b><%= name %></b>,
          <% else %>
            <%= name %>,
          <% end %>
        <% end %><br/><br/>
        <% if @user.id == party.host_id %>
          Hosting
        <% else %>
          Invited
        <% end %>
      </div>
    <% end %>
  </p>
</section>