
<div id="user-dashboard">
  <h2><%= @user.name %>'s Dashboard</h2>
  <%= button_to "Discover Movies", user_discover_path(@user) , method: :get%>
</div>

<div id="user-viewing-parties">
  <ul>
  <% @hosted_parties.each do |vp| %>
    <li>Viewing Party id: <%= vp.id %></li>
    <li><%= vp.movie_id %></li>
    <li><%= vp.date %></li>
    <li><%= vp.start_time %></li>
    <li>Hosting</li>
    <% end %>

<% @invited_parties.each do |vp| %>
    <li>Viewing Party id: <%= vp.id %></li>
    <li><%= vp.movie_id %></li>
    <li><%= vp.date %></li>
    <li><%= vp.start_time %></li>
    <li>Invited</li>
    <% end %>

  <ul>
</div>

