<%= render partial: "shared/nav" %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= "#{@user.name}'s Dashboard" %></h1><br>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get, data: { turbo: false } %><br>

<section class = "viewing_parties">
  <% @user.parties.each do |party| %>
  <div style="border:solid; width:342px">
    <ul>
      <li>
        <%= "#{party.movie_id}" %>
      </li>
    </ul>
  </div>
  <% end %>
</section>
