<h2><%= @user.name %>'s Dashboard</h2>
<br>
<%= button_to "Discover Movies", user_discover_path(@user), method: :get, data: {turbo: false} %>
<br>
<h3>Viewing Parties</h3>
<br>
<section id="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <p><%= image_tag "#{party.image_url}" %></p>
    <p><%= party.movie_title %></p>
    <p><%= party.start %></p>
    <p>Host: <%= party.host %></p>
    <ul>
    <p>Guests</p>
    <% party.guests.each do |guest| %>
      <% if guest.name == @user.name %>
        <li><strong><%= guest.name %></strong></li>
      <% else %>
        <li><%= guest.name %></li>
      <% end %>
    <% end %>
    </ul>
    <hr>
  <% end %>
</section>