<h1><%= @user.name %>'s Dashboard</h1>
<h3>Invited to Parties</h3>
<% @user.viewing_parties.each do |party| %>
  <% if party.host != @user.name %>
  <div id="<%= party.id %>">
    <%= image_tag "https://image.tmdb.org/t/p/w500#{party.poster_path}", alt: "Movie poster", width: "150" %>
    <p>Party name: <%= party.name %></p>
    <p>Host: <%= party.host %></p>
    <p>Movie Title: <%= party.movie_title %></p>
    <p>Party Date: <%= party.event_date.strftime("%A, %B %d, %Y") %></p>
    <p>Start Time: <%= party.start_time %></p>
    <p>Invitees:</p>
    <% party.users.each do |user| %>
      <% if user.name == @user.name %>
        <strong><%= user.name %></strong>
      <% else %>
        <p><%= user.name %></p>
      <% end %>
    <% end %>
    <p>---------------------------------------</p>
  <% end %>
  </div>
<% end %>
<h3>Hosted Parties</h3>
<% @user.viewing_parties.each do |party| %>
  <% if party.host == @user.name %>
  <div id="<%= party.id %>">
    <%= image_tag "https://image.tmdb.org/t/p/w500#{party.poster_path}", alt: "Movie poster", width: "150" %>
    <p>Party name: <%= party.name %></p>
    <p>Host:<strong> <%= party.host %></strong></p>
    <p>Movie Title: <%= party.movie_title %></p>
    <p>Party Date: <%= party.event_date.strftime("%A, %B %d, %Y") %></p>
    <p>Start Time: <%= party.start_time %></p>
    <p>Invitees:</p>
    <% party.users.each do |user| %>
      <% unless user.name == @user.name %>
        <p><%= user.name %></p>
      <% end %>
    <% end %>
    <p>---------------------------------------</p>
  <% end %>
  </div>
<% end %>
<br>
<%= button_to "Discover Movies", discover_user_path(@user), method: :get %>
