<%= render partial: 'layouts/box' %>
<%= render partial: 'layouts/button' %>
<%= render partial: 'layouts/centerframe' %>

<%= render partial: 'landing/subheader' %>

<div class="center">
  <div class="sectionheader">
    <h2><%= @user.name %>'s Dashboard</h2>
  </div>

  <%= button_to "Discover Movies", user_discover_index_path(@user), method: :get%>
  <br>

  <% @user_parties.each do |user_party| %>
    <div class="box">
      <section id="party-<%= user_party.id %>">

        <div class="img">
          <p><%= image_tag "https://image.tmdb.org/t/p/w500/#{user_party.movie_poster_file_path}", width: "200" %>
        </div>

        <h3><%= link_to "#{user_party.party.movie_title}", user_movie_path(@user, user_party.party.movie_id) %><br></h3>

        <%= user_party.party.pretty_day %><br>
        <%= user_party.party.pretty_time %><br>
        <%= user_party.party.duration_in_hours_and_minutes %><br>

        
        <% if user_party.host_id == @user.id %>
            <p>Hosting</p>
        <% else %>
            <p>Invited</p>
        <% end %>

      </section>

      <% if user_party.host != @user %>
        <b>Host</b><br>
        <%= user_party.host.name %>
        <br><br>
      <% end %>
      <b>Invited Guests</b>
      <br>
      <% user_party.invited_users.each do |user| %>
        <% if user != user_party.host %>
          <%= user.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>