<%= render partial: 'layouts/box' %>

<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get%>

<h3>Viewing Parties</h3>
<% @user_parties.each do |user_party| %>
  <% cache("#{user_party.id}image-tag") do %>
    <div class="box">
      <section id="party-<%= user_party.id %>">
        <div class="img">
          <p><%= image_tag "https://image.tmdb.org/t/p/w500/#{user_party.movie_poster_file_path}", width: "200" %>
        </div>
        <h4>Host: <%= user_party.host.name %>
        <p><%= link_to "#{user_party.party.movie_title}", user_movie_path(@user, user_party.party.movie_id) %><br>
        <%= user_party.party.pretty_day %><br>
        <%= user_party.party.pretty_time %><br><br></p>
        <p><%= user_party.party.duration_in_hours_and_minutes %></p>
        <% if user_party.host_id == @user.id %>
          <p>Hosting</p>
        <% else %>
          <p>Invited</p>
        <% end %>
      </section>
      <ul>
        <% user_party.party.users.each do |user| %>
          <% if user.id == user_party.user_id %>
            <b><li><%= user.name %></li></b>
          <% else %>
            <li><%= user.name %></li>
          <% end %>
        <% end %>
        </ul>
    </div>
  <% end %>
<% end %>