<h3><%= "#{@user.name}'s Dashboard" %></h3>
<%= button_to "Discover Movies", user_discover_path(@user), method: :get %>

<table>
  <tr>
    <th>Poster</th>
    <th>Movie Title</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Start Time</th>
    <th>Hosting</th>
  </tr>
  <% @user.viewing_parties.each do |party| %>
    <% temp_movie = MovieSearch.new(party.movie_id) %>
    <div id="movie-<%= party.movie_id %>">
    <section id="party-<%= party.id %>">
      <tr>
      <td><img src=<%= temp_movie.image_url %> alt= <%= temp_movie.title %>></td>
      <td><%= temp_movie.title %></td>
      <td><%= party.date_formatter(party.date_time) %></td>
      <td><%= "#{party.duration} min" %></td>
      <td><%= party.time_formatter(party.date_time) %></td>
        <td><%= if party.user_viewing_parties.where(user_id: @user.id)[0].host == true
                  "Hosting"
                else 
                  "Invited"
                end %></td>
      </tr>
    </section>
    </div>
  <% end %>
</table>

