 <h3 class= "title has-test_centered"><%= @user.name %>'s Dashboard</h3>

	<%= button_to "Discover Movies", user_discover_index_path(@user), class: "btn btn-outline-primary", method: :get %>

  <section class="section">
    <h4 class="title">Viewing Parties<h4>
    <div class="row">
      <div class="col-12">
        <h4>Party Invites:</h4>
        <ul>
          <% @party_invites.each do |party| %>
            <li id=<%= party.id %>>
							<h4><%= "Party ##{party.id}"%></h4>
							<img src=<%= "https://image.tmdb.org/t/p/w300#{party.image_path}"  %>>
							<p><%= party.title %></p>
							<p>Date: <%= party.date %></p>
							<p>Time: <%= party.time.strftime("%H:%M") %></p>
							<p>Host: <%= party.host.name %></p>
							<p><b>Attendees:</b></p>
							<% party.users.each do |user| %>
								<% if user == @user %>
									<p><b><%= user.name %></b></p>
								<% else %>
									<%= user.name %>
								<% end %>
							<% end %>
						</li>
          <% end %>
        </ul>
      </div>

      <div class="col-12">
        <h4>My Parties:</h4>
        <ul>
          <% @my_parties.each do |party| %>
            <li id=<%= party.id %>>
							<h4><%= "Party ##{party.id}"%></h4>
							<img src=<%= "https://image.tmdb.org/t/p/w300#{party.image_path}" %>>
							<p><%= party.title %></p>
							<p>Date: <%= party.date %></p>
							<p>Time: <%= party.time.strftime("%H:%M") %></p>
							<p>Host: <%= party.host.name %></p>
							<p><b>Attendees:</b></p>
							<% party.users.each do |user| %>
								<p><%= user.name unless user.name == @user.name%></p>
							<% end %>
						</li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>