<%= render partial: "shared/nav" %>

<h1><%="#{@user.name}'s Dashboard"%></h1>
<%= button_to "Discover Movies", user_discover_path(@user.id), method: :get, data: { turbo: false }, local: true %>

<section id = "viewing-parties">
  <h3>Parties I'm Hosting</h3>
    <% @user.viewing_parties.uniq.each do |party| %>
        <ol>
        <% if party.host_id.to_i == @user.id %>
          <u>Title:</u> <%= party.movie_title %><br>
          <u>Date and Time:</u> <%= party.start_time %><br>
          <% party.user_viewing_parties.each do |uvp| %>  
            <% if uvp.user_id == @user.id %>
              <u>Users Attending:</u> 
              <% party.users.uniq.each do |user| %>
                <%= user.name %>,
              <% end %>
            <% end %>
            <% end %>
          <% end %>
        </ol>
    <% end %>
      
  <h3>Parties I'm Invited To</h3>
  <% @user.viewing_parties.uniq.each do |party| %>
        <ol>
        <% if party.host_id.to_i != @user.id %>
          <u>Title:</u> <%= party.movie_title %><br>
          <u>Date and Time:</u> <%= party.start_time %><br>
          <% party.user_viewing_parties.each do |uvp| %>  
            <% if uvp.user_id == @user.id %>
              <u>Users Attending:</u> 
              <% party.users.uniq.each do |user| %>
                <%= user.name %>,
              <% end %>
            <% end %>
            <% end %>
          <% end %>
        </ol>
    <% end %>
</section>