<h3 align="center"><%= @user.user_name %>'s Dashboard</h3>
<div align="center">
<%= button_to "Discover Movies", user_discover_index_path(@user), method: 'get' %>
</div>
<br>
<section class='viewing-parties' style="display:flex;justify-content:space-evenly">
  <%= "click 'Discover Movies' and start a party!" if @user.parties.empty? %>
  <% @user.parties.each do |party| %>
    <div id='party-<%= party.id %>' style="border: 1px solid black;text-align:center;width:350px" >
      <%= render partial: 'party', locals: { party: party, user: @user} %>
    </div>
  <% end %>
</section>
