<h2><%= "#{@user.name}'s Dashboard" %></h2>

<p><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></p><br><br>

<h4>Viewing Parties</h4>
<% @user.parties.each do |party| %>
<%# <% require 'pry'; binding.pry %>%
  <%# <img src=<%= "#{party.image_api_call(party.movie_id)}" %> height="200" > %> %>
  <%= party.name %><br>
  <%= party.date.strftime('%B %e, %Y')%><br>
  <%= party.start_time%><br>
  <%= party.host(@user.id)%><br><br><br>
<% end %>
