<h2><%= @user.name %>'s Dashboard</h2>
<br>
<%= button_to "Discover Movies", user_discover_path(@user), method: :get, data: {turbo: false} %>
<br>
<h3>Viewing Parties</h3>
<br>
<section id="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <p><%= party.movie_image %></p>
    <p><%= party.movie_title %></p>
    <p><%= party.start_time %></p>
    <p><%= party.host %></p>
    <ul>
    <p>Guests</p>
    <% party.users_viewing_parties.each do |uvp| %>
      <% if !uvp.hosting? %>
        <li><%= uvp.name %></li>
      <% end %>
    <% end %>
    </ul>
    <hr>
  <% end %>
</section>