<h2><%= @user.name %>'s Dashboard</h2>
<br>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
<br>

<% @all_parties_and_movie.each do |party| %>
  <div id= "party_id-<%= party[:party_id]%>">

    <%# <%= image_tag "https://image.tmdb.org/t/p/w154#{party[:image]}" %> 
    <%= image_tag party[:image] %> 
    <p><%= party[:title] %></p>
    <p><%= party[:date].strftime("%B %-d, %Y") %></p>
    <p><%= party[:start_time].strftime("%I:%M %p") %></p>
    <p><%= party[:host] %></p>

    <% if party[:host] == @user.name %>
      <p>Hosting</p>
    <% else %>
      <p>Invited</p>
    <% end %>
    <br>

    <p>Friends who are attending</p>
    <% party[:attendees].each do |attendee| %>
      <p><%= attendee.name %></p>
    <% end %>

  </div>
<% end %>
