<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get%>

<h3>Viewing Parties</h3>
<% @parties.each do |party| %>
  <section id="party-<%= party.id %>">
    <p><%= party.movie_title %><br>
    <%= party.pretty_day %><br>
    <%= party.start_time %><br><br></p>
    <p><%= party.duration_in_hours_and_minutes %></p>
    <p><%= party.long_hand_date %></p>
    <p><%= party.when %></p>
  </section>
<% end %>