<h1>Viewing Party</h1>

<% if current_user %>
  <%= link_to 'Log Out' %>
<% else %>
  <%= link_to 'Log In', login_form_path, method: :get %>
  <%= button_to 'Create a New User', new_user_path, method: :get %>
<% end %>


<h2>Existing Users</h2>
<% @users.each do |user| %>
<ul>
  <li id="user_<%= user.id %>"><%= link_to user.email, "/users/#{user.id}" %></li>
</ul>
<% end %>