<h1>Create a Viewing Party for "<%= @movie[:original_title] %>"</h1>

<%= form_with url: user_movie_viewing_party_index_path(params[:user_id], params[:movie_id]), method: :post, data: {turbo: false} do |f| %>
  <%= f.label :duration, "Duration of Party (in minutes):" %>
  <%= f.number_field :duration, in: @movie[:runtime]..200, value: @movie[:runtime] %>
  <br>
  <%= f.label :date, "Date:" %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :start_time, "Start Time:" %>
  <%= f.time_field :start_time %>
  <br>
  <p>Invite others:</p>
  <% @users.each do |user| %>
    <%= f.check_box "invite-#{user.id}" %>
    <%= f.label "invite-#{user.id}", "#{user.name} - #{user.email}" %>
    <br>
  <% end %>
  <br>
  <%= f.submit "Create Viewing Party" %>
<% end %>