<h3> Create a Movie Party for: <%= @movie.title %> </h3>
<%= button_to "Discover Page", "/users/#{@host.id}/discover", method: :get %>
<br>

<%= form_with url: "/users/#{@host.id}/movies/#{@movie.movie_id}/viewing_party", method: :post, local: true do |f| %>
  <%= f.label :header, "Viewing Party Details" %>
  <br>

  <%= f.label :duration_minutes, "Duration of Party" %> 
  <%= f.number_field :duration_minutes, min: @movie.runtime, value: @movie.runtime %> 
  <br>

  <%= f.label :date, "Day" %> 
  <%= f.date_field :date, min: Date.today %> 
  <br>

  <%= f.label :start_time, "Start Time" %> 
  <%= f.time_field :start_time, min: Time.now.strftime("%H:%M") %> 
  <br> 

  <%= f.label :invitees, "Invite Friends"%>
  <%= f.collection_check_boxes :invitees, @invitees, :id, :name %>
  <br>

  <%= f.hidden_field :host_id, value: @host.id %>
  <!-- <%= f.hidden_field :movie_title, value: @movie.title %> -->
  <!-- <%= f.hidden_field :image, value: @movie.image %> -->

  <%= f.submit "Create Party" %>
<% end %>