<h2>Discover Movies</h2>
<p>
  <%= form_tag(user_movies_path, method: :get) do %>
    <%= hidden_field_tag(:q, "top rated") %>
    <%= hidden_field_tag(:user_id, @user) %>
    <%= submit_tag "Discover Top Rated Movies" %>
  <% end %>
</p>
<p>
  <%= form_with(url: user_movies_path(@user, q: params[:q]), method: :get) do |form| %>
    <%= form.text_field :q, placeholder: "Enter keyword", id: "keyword_search" %>
    <%= form.submit "Search by Movie Title" %>
  <% end %>
</p>