<h2>Discover Movies</h2>

<%= button_to "Find Top Rated Movies", "/users/#{params[:id]}/movies", method: :get %>

<%# <%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %> %>
      <%# <%= f.label :search %> %>
      <%# <%= f.text_field :search %> %>
      <%# <%= f.submit "Search by Movie Title" %> %>
    <%# <% end %> %>