<h1> Discover Movies!</h1>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies", method: :get %>
<br/>
<br/>
<br/>
<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true, data: { turbo: false } do |f| %>
<%= f.label :search %>
<%= f.text_field :search  %>
<%= f.submit "Find Movies" %>
<% end %>