<%= button_to "Discover Top Rated Movies", user_movies_path(@user), class: "btn btn-outline-primary", method: :get %><br>

<div id="search">
<%= form_with url: user_movies_path(@user), method: :get, local: true do |f| %>
	<%= f.label :movie_title, "Movie Title" %>
	<%= f.text_field :movie_title %> 
  <%= f.submit "Search", class: "btn btn-success" %>
<% end %>
</div>