<h1>Viewing Party</h1>
<%= form_with url: "/users", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.submit "Register User" %>
<% end %>