<ul>
  <li><a class="active" href="/">Home</a></li>
  <% if current_user %>
    <li><a href="<%= "/users/#{current_user.id}/discover" %>">Discover Page</a></li>
  <% end %>
</ul>

<div class="content">
  <h1>Viewing Party</h1>
  <% if current_user %>
    <%= link_to "Log Out", logout_path, method: :delete, data: {turbo_method: :delete}  %>
    <h3>Existing Users</h3>
    <% @users.each do |user| %>
      <p><%= user.email %></p>
    <% end %>
  <% elsif current_user.nil? %>
    <%= button_to "Create a New User", register_path, method: :get %><br> or <p><%= button_to "Log In", login_path, method: :get %></p>
  <% end %>
</div>