<div class="partial">
  <%= render partial: "shared/landing_header" %><br><br>
</div>

<%# <%= button_to "Create Viewing Party",  %> %>

<%= button_to "Discover", user_discover_path(@user), method: :get %>

  <h2>Title: <%= @movie.title %></h2>
  <p>Average Rating: <%= @movie.vote_average %></p>
  <p>Runtime: <%= @movie.runtime %></p>
  <p>Genre: <% @movie.genres.each do |genre| %>
    <%= genre %>
  <% end %></p>
  <p>Overview: <%= @movie.summary%></p>
  <h3>Cast and Characters:</h3>
  <% @movie.cast.each do |member| %>
    <p><%= member %></p>
  <% end %>
  <p>Total Reviews: <%=  @movie.review_count %></p>
  <h3>Reviews: </h3>
  <% @movie.reviews.each do |review| %><br>
    <h4>Author: <%= review[:author] %></h4>
    <p>Username: <%= review[:username] %></p>
    <p>Rating: <%= review[:rating] %></p>
  <% end %>