<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Home", "/" %>
    <h1>ViewingPartyLite7</h1>
     <div class="container">
        <% flash.each do |type, notice| %>
          <h5 class="text-info"><b><%= notice %></b></h5>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
