<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="top-container">
        <h1 style="text-align:center; background-color:#EBEFF3;">Viewing Party</h1>
        <%= link_to "Home", root_path %><br>
        <% flash.each do |type, notice| %>
          <h3 style="color: #800080;"><b><%= notice %></b></h3>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
