<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><span>Viewing Party</span></h1>

    <div id="nav_bar">
      <%= link_to "Home", root_path %>
    </div>

    <% flash.each do |type, msg| %>
      <div id="flash_message">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
