<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="Viewing Party Lite">
      <div style="text-align: center;">
        <h1>Viewing Party Lite</h1>
      </div>
    </header>
    <div class="navbar-container">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="current-menu-item"><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
    <div class="seperator"></div>
    <div class="top-container">
      <div class="container">
        <% flash.each do |type, notice| %>
          <h5 class="text-info"><b><%= notice %></b></h5>
        <% end %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
